@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: rgb(38, 78, 139);
  & .logo-container {
    order: -1; 
    & .logo {
      width: 100px;
      &  .nav_navegacion {
        display: flex;
      }
    }
  }
}

.navegacion {
  margin-right: 10px; 
  & label {
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
}

  .body {
    background-color: #cecece;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 24rem;
  }

  .main {
    background-color: #cecece;
    & .bizclub {
      width: 50rem;
      height: 5rem;
      text-align: center;
      margin-left: 12rem;
      color: rgb(0, 0, 0);
      display: flex;
      font-size: 20px;
      & .titulos {
        text-align: center;
        font-size: 30px;
        & .bizclub_texto {
          text-align: start;
          font-size: 15px;
          background-color: #cecece;
          color: rgb(0, 0, 0);
        }
      }
    }
  }

  .footer{
    width: 100%;
    background-color: rgb(38, 78, 139);
    font-size: 40px;
    display: flex;
    margin-top: -2rem;
    & .red {
      padding: 0.5rem;
    }
  }

  .contenedor_nocturno {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: static;
  }

  .flex,  .contenedor_principal {
    display: flex;
  }

  a img {
    width: 50px;
    height: 50px;
  }
  
  .invertir-color {
    filter: invert(100%);
  }

.contenedor_todo {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #cecece;
}

.contenedor_todo2 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #bdbdbd;
}

.contenedor_principal {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
 overflow-x: hidden;
 padding: 4rem 0;
}

.contenedor_principal .contenedor_imagen {
 overflow: hidden;
 box-shadow: 0 5px 10px #000;
 border-radius: 15px;
}

.contenedor_principal .contenedor_imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 15px;
  box-shadow: 0 5px 10px #000;
 }

 .contenedor_principal .contenedor_imagen:hover img{
  transform: scale(1.25);
  opacity: 30%;
  border-radius: 15px;
  box-shadow: 0 5px 10px #000;
 }

 .contenedor_principal .contenedor_secundario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
 }

 .contenedor_principal .contenedor_secundario span.texto_span {
   display: block;
   font-size: 20px;
   text-transform: capitalize;
   display: flex;
   justify-content: flex-start; 
   align-items: center;
   gap: 15px;
   margin-bottom: 20px;
 }

 .contenedor_principal .contenedor_secundario span.texto_span span{
  display: block;
  background-color: #202020;
  width: 70px;
  height: 5px;
 }

 .contenedor_principal .contenedor_secundario h2{
  font-size: 40px;
  font-weight: 700;
  color: rgb(38, 78, 139);
  padding-bottom: 20px;
 }

 .contenedor_principal .contenedor_secundario p{
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
 }

 .contenedor_principal .contenedor_secundario a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(38, 78, 139);
  color: white;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
  border-radius: 1rem;
 }

 .contenedor_principal .contenedor_secundario a:hover {
  background: rgb(32, 66, 118);
  transform: scale(1);
  border-radius: 15px;
  box-shadow: 0 5px 10px #000;
 }

 .contenedor_principal .contenedor_secundario h3{
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
 }


 @media (max-width:991px){
  .contenedor_principal{
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .contenedor_principal .contenedor_secundario {
    padding-left: 0px;
   }
 }

 @media (max-width: 768px){
  .contenedor_principal{
    width: 90%;
  }
  .contenedor_principal .contenedor_secundario h2{
    font-size: 30px;
    padding-bottom: 20px;
  }
  .contenedor_principal .contenedor_secundario h2{
    line-height: 24px;
  }

  .contenedor_principal .contenedor_secundario h3{
    font-size: 18px;
    padding-bottom: 20px;
   }

 }

 @media (max-width: 575px){
  .contenedor_principal .contenedor_secundario span.texto_span{
    font-size: 18px;
  }
  .contenedor_principal .contenedor_secundario h2{
    font-size: 25px;
  }
  .contenedor_principal .contenedor_secundario p{
    font-size: 15px;
    line-height: 22px;
  }
  .contenedor_principal .contenedor_secundario a{
    font-size: 15px;
    padding: 10px 20px;
  }
 }

 .contenedor_servicios_todo {
  width: 100%;
  min-height: 47vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cecece;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .contenedor_servicios_todo {
    flex-direction: column;
  }
}

.contenedor_servicios {
  position: relative;
  width: 100%; 
  max-width: 300px;
  height: 400px;
  max-height: 500px;
  margin: 0.5rem; 
}

.contenedor_servicios .servios {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.contenedor_servicios .front {
  opacity: 1; 
  box-shadow: 0 5px 10px #000;
}

.contenedor_servicios:hover .front {
  opacity: 0; 
}

.contenedor_servicios .back {
  opacity: 0; 
  background: rgb(38, 78, 139);
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
}

.contenedor_servicios:hover .back {
  opacity: 1; 
}

.contenedor_servicios .back .link_servicios {
  border-top: solid 1px #FFFFFF;
  height: 50px;
  line-height: 50px;
}

.contenedor_servicios .back .link_servicios a {
  color: white;
  font-size: 12px;
}

.contenedor_servicios .back h3 {
  font-size: 17px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.contenedor_servicios .back h3 {
  letter-spacing: 1px;
}

.contenedor_servicios .back p {
  font-size: 12px;
}

.contenedor_todo_servicios {
  width: 100%;
  min-height: 0vh;
  display: grid;
  place-items: center;
  background-color: #cecece;
}


.div_imagenes {
  display: grid;
  grid-template-columns: 
    repeat(
      auto-fit, minmax(200px, 1fr)
    );
    gap: 20px;
}

.div_imagenes img:hover {
  opacity: 10%;
  transform: scale(0.95);
}